
footer{
    margin-top: 20rem;
}

.footer-col{
    margin-left: -3rem;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-title{
    margin-top: 10rem;
}

.main-title h1{
    text-align: center;
    font-size: 35px;
}
hr{
    border: none;
  height: 4px;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  
}

.main-title p{
    padding: 1rem;
    font-size: 14px;
}

.main-title h2{
    font-size: 20px;
    text-align: center;
    color: red;
}

.main-title .revised{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.link-links h1{
    margin-top: 2rem;
    font-size: 28px;
    padding-left: 2rem;
    text-align: center;
}

.link-links h2{
    margin-top: 2rem;
    padding-left: 2rem;
    font-size: 23px;
}


.ul{
    padding-left: 5rem;
    font-size: 17px;
}

.transition{
    animation: fadein 2s ease;
}

@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0px)  
    }
}