<!DOCTYPE html>
<HTML>
<HEAD>
<meta charset="utf-8">
<TITLE>MCC Junior Tournament #7</TITLE>
<!-- Data classes for styling -->
<style>
table {border-collapse: collapse; border: 1px solid black; }
td, tr {padding: 3px; border: 1px solid black; }
.fixed {font-family:Arial;  color:#000000; background-color:#E8E8E8; font-weight: bold; }
.name {font-family:Arial;  color:#000000; font-weight: bold; }
.idnum {font-family:Arial;  color:#000000; }
.rating {font-family:Arial;  color:#000000; }
.team {font-family:Arial;  color:#000000; }
.age {font-family:Arial;  color:#000000; }
.result {font-family:Arial;  color:#000000; }
.total {font-family:Arial;  color:#000000; }
.ties {font-family:Arial;  color:#000000; }
</style>
</HEAD>

<BODY>
<div id="SwissSys">
<H3>SwissSys Standings. MCC Junior Tournament #7: Orange Section </H3>
<TABLE>
<THEAD>
<TR><TD class="fixed">#</TD><TD class="fixed">Place</TD><TD class="fixed">Name</TD><TD class="fixed">ID</TD><TD class="fixed">Rating</TD><TD class="fixed">Rd 1</TD><TD class="fixed">Total</TD><TD class="fixed">T-1-on-1</TD>
<TD class="fixed">T-Avg Op.</TD></TR>
</THEAD>
<TR><TD class="fixed">1</TD><TD class=>1-8</TD><TD class="name">Nathan Zheng</TD><TD class="idnum">179776</TD><TD class="rating"> 320</TD><TD class="result">W18</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">414</TD>
</TR>
<TR><TD class="fixed">2</TD><TD class=>&nbsp;</TD><TD class="name">Carter Clementi</TD><TD class="idnum">180218</TD><TD class="rating">unr.</TD><TD class="result">W11</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">394</TD></TR>
<TR><TD class="fixed">3</TD><TD class=>&nbsp;</TD><TD class="name">Ashwinkumar Anbalagan</TD><TD class="idnum">180327</TD><TD class="rating">unr.</TD><TD class="result">W12</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">376</TD></TR>
<TR><TD class="fixed">4</TD><TD class=>&nbsp;</TD><TD class="name">Joshua Louis</TD><TD class="idnum">177826</TD><TD class="rating"> 430</TD><TD class="result">W13</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">332</TD>
</TR>
<TR><TD class="fixed">5</TD><TD class=>&nbsp;</TD><TD class="name">Ammar Imran Obaidullah</TD><TD class="idnum">176933</TD><TD class="rating"> 429</TD><TD class="result">W14</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">328</TD></TR>
<TR><TD class="fixed">6</TD><TD class=>&nbsp;</TD><TD class="name">Nathan Ma</TD><TD class="idnum">179155</TD><TD class="rating"> 390</TD><TD class="result">W15</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">0</TD>
</TR>
<TR><TD class="fixed">7</TD><TD class=>&nbsp;</TD><TD class="name">Vincent Wei</TD><TD class="idnum">166295</TD><TD class="rating"> 390</TD><TD class="result">W16</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">0</TD>
</TR>
<TR><TD class="fixed">8</TD><TD class=>&nbsp;</TD><TD class="name">Dheeraj Senthilkaumar Kaarthika</TD><TD class="idnum">177397</TD><TD class="rating"> 389</TD><TD class="result">W17</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">0</TD></TR>
<TR><TD class="fixed">9</TD><TD class=>9-10</TD><TD class="name">Kian Samad</TD><TD class="idnum">177483</TD><TD class="rating"> 372</TD><TD class="result">D10</TD><TD class="total"> 0.5</TD><TD class="ties">0.5</TD><TD class="ties">448</TD>
</TR>
<TR><TD class="fixed">10</TD><TD class=>&nbsp;</TD><TD class="name">Gabriel Hazzard</TD><TD class="idnum">177438</TD><TD class="rating"> 448</TD><TD class="result">D9</TD><TD class="total"> 0.5</TD><TD class="ties">0.5</TD>
<TD class="ties">372</TD></TR>
<TR><TD class="fixed">11</TD><TD class=>11-18</TD><TD class="name">Trayaksh Abhayankar B Athreya</TD><TD class="idnum">175908</TD><TD class="rating"> 394</TD><TD class="result">L2</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD>
<TD class="ties">794</TD></TR>
<TR><TD class="fixed">12</TD><TD class=>&nbsp;</TD><TD class="name">Amelia Cirosh</TD><TD class="idnum">177951</TD><TD class="rating"> 376</TD><TD class="result">L3</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">776</TD>
</TR>
<TR><TD class="fixed">13</TD><TD class=>&nbsp;</TD><TD class="name">Christine Trippen</TD><TD class="idnum">178010</TD><TD class="rating"> 332</TD><TD class="result">L4</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD>
<TD class="ties">430</TD></TR>
<TR><TD class="fixed">14</TD><TD class=>&nbsp;</TD><TD class="name">Daniel Losev</TD><TD class="idnum">177434</TD><TD class="rating"> 328</TD><TD class="result">L5</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">429</TD>
</TR>
<TR><TD class="fixed">15</TD><TD class=>&nbsp;</TD><TD class="name">Benjamin Neimarlija</TD><TD class="idnum">180224</TD><TD class="rating">unr.</TD><TD class="result">L6</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD>
<TD class="ties">390</TD></TR>
<TR><TD class="fixed">16</TD><TD class=>&nbsp;</TD><TD class="name">Callen Macdonnell</TD><TD class="idnum">180180</TD><TD class="rating">unr.</TD><TD class="result">L7</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD>
<TD class="ties">390</TD></TR>
<TR><TD class="fixed">17</TD><TD class=>&nbsp;</TD><TD class="name">Nathan Han</TD><TD class="idnum">180179</TD><TD class="rating">unr.</TD><TD class="result">L8</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">389</TD>
</TR>
<TR><TD class="fixed">18</TD><TD class=>&nbsp;</TD><TD class="name">Lang Kong</TD><TD class="idnum">177435</TD><TD class="rating"> 414</TD><TD class="result">L1</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">320</TD>
</TR>
</TABLE>
<BR>
</DIV>
</BODY>
</HTML>

