<!DOCTYPE html>
<HTML>
<HEAD>
<meta charset="utf-8">
<TITLE>MCC Junior Tournament #7</TITLE>
<!-- Data classes for styling -->
<style>
table {border-collapse: collapse; border: 1px solid black; }
td, tr {padding: 3px; border: 1px solid black; }
.fixed {font-family:Arial;  color:#000000; background-color:#E8E8E8; font-weight: bold; }
.name {font-family:Arial;  color:#000000; font-weight: bold; }
.idnum {font-family:Arial;  color:#000000; }
.rating {font-family:Arial;  color:#000000; }
.team {font-family:Arial;  color:#000000; }
.age {font-family:Arial;  color:#000000; }
.result {font-family:Arial;  color:#000000; }
.total {font-family:Arial;  color:#000000; }
.ties {font-family:Arial;  color:#000000; }
</style>
</HEAD>

<BODY>
<div id="SwissSys">
<H3>SwissSys Standings. MCC Junior Tournament #7: Gold </H3>
<TABLE>
<THEAD>
<TR><TD class="fixed">#</TD><TD class="fixed">Place</TD><TD class="fixed">Name</TD><TD class="fixed">ID</TD><TD class="fixed">Rating</TD><TD class="fixed">Rd 1</TD><TD class="fixed">Total</TD><TD class="fixed">T-1-on-1</TD>
<TD class="fixed">T-Avg Op.</TD></TR>
</THEAD>
<TR><TD class="fixed">1</TD><TD class=>1-13</TD><TD class="name">Jaden Nagar</TD><TD class="idnum">164570</TD><TD class="rating">1031</TD><TD class="result">W18</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">1098</TD>
</TR>
<TR><TD class="fixed">2</TD><TD class=>&nbsp;</TD><TD class="name">Hamza Danoesubroto</TD><TD class="idnum">179597</TD><TD class="rating"> 812</TD><TD class="result">W23</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">1061</TD></TR>
<TR><TD class="fixed">3</TD><TD class=>&nbsp;</TD><TD class="name">Oscar Cheung</TD><TD class="idnum">171229</TD><TD class="rating">1070</TD><TD class="result">W16</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">924</TD>
</TR>
<TR><TD class="fixed">4</TD><TD class=>&nbsp;</TD><TD class="name">William Trippen</TD><TD class="idnum">170759</TD><TD class="rating"> 828</TD><TD class="result">W21</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">916</TD></TR>
<TR><TD class="fixed">5</TD><TD class=>&nbsp;</TD><TD class="name">Noureddin Mohamed</TD><TD class="idnum">176495</TD><TD class="rating"> 780</TD><TD class="result">W25</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">893</TD></TR>
<TR><TD class="fixed">6</TD><TD class=>&nbsp;</TD><TD class="name">Brian Kong</TD><TD class="idnum">177605</TD><TD class="rating">1144</TD><TD class="result">W15</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">859</TD>
</TR>
<TR><TD class="fixed">7</TD><TD class=>&nbsp;</TD><TD class="name">Visvareth Vashatkar B Athreya</TD><TD class="idnum">175907</TD><TD class="rating"> 991</TD><TD class="result">W19</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">841</TD></TR>
<TR><TD class="fixed">8</TD><TD class=>&nbsp;</TD><TD class="name">William Hyginus</TD><TD class="idnum">177449</TD><TD class="rating"> 822</TD><TD class="result">W22</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">836</TD></TR>
<TR><TD class="fixed">9</TD><TD class=>&nbsp;</TD><TD class="name">Eric Jiachen Wang</TD><TD class="idnum">168042</TD><TD class="rating"> 868</TD><TD class="result">W20</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">809</TD></TR>
<TR><TD class="fixed">10</TD><TD class=>&nbsp;</TD><TD class="name">Ashwin Chunchu</TD><TD class="idnum">173096</TD><TD class="rating">1565</TD><TD class="result">W14</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">799</TD></TR>
<TR><TD class="fixed">11</TD><TD class=>&nbsp;</TD><TD class="name">Sathvik Bhyravavajjula</TD><TD class="idnum">176238</TD><TD class="rating"> 771</TD><TD class="result">W26</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD>
<TD class="ties">799</TD></TR>
<TR><TD class="fixed">12</TD><TD class=>&nbsp;</TD><TD class="name">Owen Barbisan</TD><TD class="idnum">175828</TD><TD class="rating">1068</TD><TD class="result">W17</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">764</TD>
</TR>
<TR><TD class="fixed">13</TD><TD class=>&nbsp;</TD><TD class="name">Baldwin Zhai</TD><TD class="idnum">170225</TD><TD class="rating"> 808</TD><TD class="result">W24</TD><TD class="total"> 1.0</TD><TD class="ties">0</TD><TD class="ties">408</TD>
</TR>
<TR><TD class="fixed">14</TD><TD class=>14-26</TD><TD class="name">Arka Singh</TD><TD class="idnum">178766</TD><TD class="rating"> 799</TD><TD class="result">L10</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">1565</TD>
</TR>
<TR><TD class="fixed">15</TD><TD class=>&nbsp;</TD><TD class="name">Brayden Zhai</TD><TD class="idnum">170223</TD><TD class="rating"> 859</TD><TD class="result">L6</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">1144</TD>
</TR>
<TR><TD class="fixed">16</TD><TD class=>&nbsp;</TD><TD class="name">George Louis</TD><TD class="idnum">177829</TD><TD class="rating"> 924</TD><TD class="result">L3</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">1070</TD>
</TR>
<TR><TD class="fixed">17</TD><TD class=>&nbsp;</TD><TD class="name">Benjamin Ruan</TD><TD class="idnum">179917</TD><TD class="rating"> 764</TD><TD class="result">L12</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">1068</TD>
</TR>
<TR><TD class="fixed">18</TD><TD class=>&nbsp;</TD><TD class="name">Tyler Aquino</TD><TD class="idnum">179637</TD><TD class="rating">1098</TD><TD class="result">L1</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">1031</TD>
</TR>
<TR><TD class="fixed">19</TD><TD class=>&nbsp;</TD><TD class="name">Pranav Emani</TD><TD class="idnum">178827</TD><TD class="rating"> 841</TD><TD class="result">L7</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">991</TD>
</TR>
<TR><TD class="fixed">20</TD><TD class=>&nbsp;</TD><TD class="name">Abdullah Khan</TD><TD class="idnum">160674</TD><TD class="rating"> 809</TD><TD class="result">L9</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">868</TD>
</TR>
<TR><TD class="fixed">21</TD><TD class=>&nbsp;</TD><TD class="name">Rishaan Dash</TD><TD class="idnum">177546</TD><TD class="rating"> 916</TD><TD class="result">L4</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">828</TD>
</TR>
<TR><TD class="fixed">22</TD><TD class=>&nbsp;</TD><TD class="name">Khoa Truong</TD><TD class="idnum">176308</TD><TD class="rating"> 836</TD><TD class="result">L8</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">822</TD>
</TR>
<TR><TD class="fixed">23</TD><TD class=>&nbsp;</TD><TD class="name">Jayden Henry Tan</TD><TD class="idnum">179333</TD><TD class="rating">1061</TD><TD class="result">L2</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD>
<TD class="ties">812</TD></TR>
<TR><TD class="fixed">24</TD><TD class=>&nbsp;</TD><TD class="name">Ivano Komsic</TD><TD class="idnum">180204</TD><TD class="rating">unr.</TD><TD class="result">L13</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">808</TD>
</TR>
<TR><TD class="fixed">25</TD><TD class=>&nbsp;</TD><TD class="name">Taylor Aquino</TD><TD class="idnum">179635</TD><TD class="rating"> 893</TD><TD class="result">L5</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">780</TD>
</TR>
<TR><TD class="fixed">26</TD><TD class=>&nbsp;</TD><TD class="name">Omar Salem</TD><TD class="idnum">172118</TD><TD class="rating"> 799</TD><TD class="result">L11</TD><TD class="total"> 0.0</TD><TD class="ties">0</TD><TD class="ties">771</TD>
</TR>
</TABLE>
<BR>
</DIV>
</BODY>
</HTML>

