<!DOCTYPE html>
<HTML>
<HEAD>
<meta charset="utf-8">
<TITLE>MCC Junior Tournament #7</TITLE>
<!-- Data classes for styling -->
<style>
table {border-collapse: collapse; border: 1px solid black; }
td, tr {padding: 3px; border: 1px solid black; }
.fixed {font-family:Arial;  color:#000000; background-color:#E8E8E8; font-weight: bold; }
.name {font-family:Arial;  color:#000000; font-weight: bold; }
.idnum {font-family:Arial;  color:#000000; }
.rating {font-family:Arial;  color:#000000; }
.team {font-family:Arial;  color:#000000; }
.age {font-family:Arial;  color:#000000; }
.result {font-family:Arial;  color:#000000; }
.total {font-family:Arial;  color:#000000; }
.ties {font-family:Arial;  color:#000000; }
</style>
</HEAD>

<BODY>
<div id="SwissSys">
<H3>SwissSys Standings. MCC Junior Tournament #7: White Section </H3>
<TABLE>
<THEAD>
<TR><TD class="fixed">#</TD><TD class="fixed">Place</TD><TD class="fixed">Name</TD><TD class="fixed">ID</TD><TD class="fixed">Rating</TD><TD class="fixed">Rd 1</TD><TD class="fixed">Total</TD></TR>
</THEAD>
<TR><TD class="fixed">1</TD><TD class=>1-8</TD><TD class="name">Faisal Sanshab</TD><TD class="idnum">179160</TD><TD class="rating"> 290</TD><TD class="result">W17</TD><TD class="total"> 1.0</TD></TR>
<TR><TD class="fixed">2</TD><TD class=>&nbsp;</TD><TD class="name">Zayden Wan</TD><TD class="idnum">179826</TD><TD class="rating"> 222</TD><TD class="result">W18</TD><TD class="total"> 1.0</TD></TR>
<TR><TD class="fixed">3</TD><TD class=>&nbsp;</TD><TD class="name">Siddharth Nikul</TD><TD class="idnum">179939</TD><TD class="rating"> 206</TD><TD class="result">W19</TD><TD class="total"> 1.0</TD></TR>
<TR><TD class="fixed">4</TD><TD class=>&nbsp;</TD><TD class="name">Laurel Ma</TD><TD class="idnum">179153</TD><TD class="rating"> 200</TD><TD class="result">W13</TD><TD class="total"> 1.0</TD></TR>
<TR><TD class="fixed">5</TD><TD class=>&nbsp;</TD><TD class="name">Nakshith Vadlamudi</TD><TD class="idnum">179779</TD><TD class="rating"> 200</TD><TD class="result">B---</TD><TD class="total"> 1.0</TD></TR>
<TR><TD class="fixed">6</TD><TD class=>&nbsp;</TD><TD class="name">Niralya Vivek</TD><TD class="idnum">180183</TD><TD class="rating">unr.</TD><TD class="result">W14</TD><TD class="total"> 1.0</TD></TR>
<TR><TD class="fixed">7</TD><TD class=>&nbsp;</TD><TD class="name">Kavira Manikandan Reddia Gowder</TD><TD class="idnum">179936</TD><TD class="rating">unr.</TD><TD class="result">W15</TD><TD class="total"> 1.0</TD></TR>
<TR><TD class="fixed">8</TD><TD class=>&nbsp;</TD><TD class="name">Zachary Suschenko</TD><TD class="idnum">180219</TD><TD class="rating">unr.</TD><TD class="result">W16</TD><TD class="total"> 1.0</TD></TR>
<TR><TD class="fixed">9</TD><TD class=>9-12</TD><TD class="name">Welton Leung</TD><TD class="idnum">177442</TD><TD class="rating"> 276</TD><TD class="result">D11</TD><TD class="total"> 0.5</TD></TR>
<TR><TD class="fixed">10</TD><TD class=>&nbsp;</TD><TD class="name">Aaditri Sadhukhan</TD><TD class="idnum">179940</TD><TD class="rating"> 200</TD><TD class="result">D12</TD><TD class="total"> 0.5</TD></TR>
<TR><TD class="fixed">11</TD><TD class=>&nbsp;</TD><TD class="name">Isaiah Del Rosario</TD><TD class="idnum">180269</TD><TD class="rating">unr.</TD><TD class="result">D9</TD><TD class="total"> 0.5</TD></TR>
<TR><TD class="fixed">12</TD><TD class=>&nbsp;</TD><TD class="name">Sanjana Sankar</TD><TD class="idnum">180175</TD><TD class="rating">unr.</TD><TD class="result">D10</TD><TD class="total"> 0.5</TD></TR>
<TR><TD class="fixed">13</TD><TD class=>13-19</TD><TD class="name">Nathan Ren</TD><TD class="idnum">177469</TD><TD class="rating"> 291</TD><TD class="result">L4</TD><TD class="total"> 0.0</TD></TR>
<TR><TD class="fixed">14</TD><TD class=>&nbsp;</TD><TD class="name">Haochen Lin</TD><TD class="idnum">179166</TD><TD class="rating"> 264</TD><TD class="result">L6</TD><TD class="total"> 0.0</TD></TR>
<TR><TD class="fixed">15</TD><TD class=>&nbsp;</TD><TD class="name">Rajvee Mehta</TD><TD class="idnum">176780</TD><TD class="rating"> 258</TD><TD class="result">L7</TD><TD class="total"> 0.0</TD></TR>
<TR><TD class="fixed">16</TD><TD class=>&nbsp;</TD><TD class="name">Vincent Wan</TD><TD class="idnum">179825</TD><TD class="rating"> 200</TD><TD class="result">L8</TD><TD class="total"> 0.0</TD></TR>
<TR><TD class="fixed">17</TD><TD class=>&nbsp;</TD><TD class="name">Yuchen Lin</TD><TD class="idnum">179167</TD><TD class="rating"> 200</TD><TD class="result">L1</TD><TD class="total"> 0.0</TD></TR>
<TR><TD class="fixed">18</TD><TD class=>&nbsp;</TD><TD class="name">Bojin Tan</TD><TD class="idnum">180229</TD><TD class="rating">unr.</TD><TD class="result">L2</TD><TD class="total"> 0.0</TD></TR>
<TR><TD class="fixed">19</TD><TD class=>&nbsp;</TD><TD class="name">Anton Stepanenko</TD><TD class="idnum">180306</TD><TD class="rating">unr.</TD><TD class="result">L3</TD><TD class="total"> 0.0</TD></TR>
</TABLE>
<BR>
</DIV>
</BODY>
</HTML>

